
body {
    background-color: lightcyan 
    }

h2 {
    color: navy;
}

p {
     color: red;
     text-align: center;
} 

table, th, td {
     border: 1px solid black;
} 

tr:nth-child(even) {background-color: #f2f2f2} 