
h2 {
    color: navy;
}

p {
     color: red;
     text-align: center;
} 

img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: center;
}

table, th, td {
     border: 1px solid black;
     text-align: center;
     font-style: italic
} 

th, {
    background-color: "lightgrey"
}

tr, {
    background-color:"light yellow";
    } 

tbody tr:nth-child(odd) {
  background-color: lightblue;
}
tbody tr:nth-child(even) {
  background-color: transparent;
}








               

