body {
    background-color: lightcyan 
    }

a {
   font-family: monospace;
   text-decoration: none;
   font-weight: normal;
  }
  a:link {
    color: forestgreen;  
  }
  a:visited {
    color: purple;
  }
  a:hover {
  font-weight: bold;
  text-decoration: underline;
  background-color: yellow;
  }
  a:active {
   text-decoration: none;
  }

h1{
    color: royalblue;
}

h2{
    color: red;
}

footer {
     color: green;
     /* text-align: center;*/
} 

table, th, td {
     border: 1px solid black;
} 

tr:nth-child(even) {background-color: #f2f2f2} 
